body{
    background-color: #F6F6F6;
}

hr{
    background-color: white;
    border-style: dotted none none none;
    height: 0px;
    width: 3%;
    border-color: gray;
    border-width: 5px;
}
h1{
    color: #ffc7c7;
}

h3{
    color: #ffc7c7;
}